<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
  <title>ShopSmart</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  
  <!-- Bootstrap Core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    
    
    
</head>
<body>

    <div id="wrapper">
        

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/items">ShopSmart</a>
            </div>
            <!-- /.navbar-header -->

            <%= render "/layouts/nav_section" %>
            <%= render "/layouts/flash_message" %>
            <!-- when rendering partial no need include underscore in the link -->
            
            <!--<div class="col-lg-4 col-md-6">-->
            <!--        <div class="panel panel-yellow">-->
            <!--            <div class="panel-heading">-->
            <!--                <div class="row">-->
            <!--                    <div class="col-xs-3">-->
            <!--                        <i class="fa fa-shopping-cart fa-5x"></i>-->
            <!--                    </div>-->
            <!--                    <div class="col-xs-9 text-right">-->
            <!--                        <div class="huge">Hot Deals!!</div>-->
            <!--                        <div></div>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--            <a href="#">-->
            <!--                <div class="panel-footer">-->
            <!--                    <span class="pull-left">View Details</span>-->
            <!--                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>-->
            <!--                    <div class="clearfix"></div>-->
            <!--                </div>-->
            <!--            </a>-->
            <!--        </div>-->
            <!--    </div>-->
            
          <%= yield %>
            </div>

 <!-- jQuery -->
    <script src="/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/dist/js/sb-admin-2.js"></script>
    
    <%= javascript_include_tag 'dataTables/jquery.dataTables.js' %>
    
    <%= javascript_include_tag 'dataTables/bootstrap/3/jquery.dataTables.bootstrap.js' %>

    
    
    
    
      <script>
        
        
        
 
    $( document ).ready(function() {
$('.sssss').dataTable({
  // ajax: ...,
  // autoWidth: false,
  // pagingType: 'full_numbers',
  // processing: true,
  // serverSide: true,

  // Optional, if you want full pagination controls.
  // Check dataTables documentation to learn more about available options.
  // http://datatables.net/reference/option/pagingType
});
});

   </script>
</body>
</html>
